.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
*.vsix
*.gguf
Phi-3-mini-4k-instruct.Q4_0.gguf
node_modules/**
.venv/**
__pycache__/**
*.pyc
test_complex.py
